.cartText  {
    text-align: center;
    margin: 1em 0;
    font-weight: bold;
    color: #FE9D23;
}

.cartText p {
    font-size: 1em;
}



.cartTable {
    display: flex;
    flex-direction: column;
    margin: 2em 15%;
    width: 70%;
}

.cartTable ul {
    align-items: center;
    display: flex;
    list-style: none;
}

.tableCat {
    border-bottom: 4px solid #06B3D3;
}

.tableCat p {
    font-size: 1.5em;
    font-weight: bold;
    color: #06B3D3;    
}

.prodInfo {
    display: flex;
    width: 50%;
    align-items: center;
}

.priceText {
    width: 25%;
}

.quantText {
    width: 25%;
}

/* ------------- */

.prod-cart {
    padding: 1.5em 0;
    /* font-weight: bold; */
    border-bottom: 2px solid grey;
}

.prodText {
    margin-left: 2em;
    min-width: 100%;
}

.prod-cart .prodInfo {
    display: flex;
    width: 52%;
    align-items: center;
}

.prod-cart .priceText {
    width: 25%;
}

.prod-cart .quantText {
    width: 25%;
}

/* ------------- */


.img-title {
    display: flex;
    align-items: center;

}

.prod-cart img {
    width: 90px;
    margin-left: 2em;
}

#delete {
    width: 2em;
    height: 2em;
    margin-left: .2em;
    background-color: #F7575F;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#btnClean {
    /* width: 10em; */
    height: 3em;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    color: black;
    cursor: pointer;
    margin-bottom: 2em;
}

#btnClean:hover {
    background-color: #F7575F;
    color: #f2f2f2;
}

#btnFinish {
    /* width: 10em; */
    height: 3em;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    color: black;
    cursor: pointer;
    margin-top: 1em;
}

#btnFinish:hover {
    background-color: #B4E438;
    color: #f2f2f2;
}

.total-buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 1em 0;
}

.totalPrice {
    justify-content: center;
    display: flex;
    /* padding-right: 12em; */
    margin: 1em 0;
}

.totalPrice p {
    font-size: 1.4em;
    margin-right: 12em;
}

.buttons {
    display: flex;
    flex-direction: column;
}

#cartForm {
    /* display: none; */
}

.showform {
    display: block !important;
} 

.hide {
    display: none !important;
}

.thanks-msj h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #06B3D3;
}

.thanks-msj h2 {
    margin-bottom: 1em;
}

.thanks-msj img {
    width: 25%;
}