.cart {
    display: flex;
    flex-direction: row;

}

.logo {
    font-size: 1.8em;
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
}

.cartCont {
    font-size: 23px;
    /* line-height: 3em; */
    font-weight: normal;
}