.item-count-container {
    display: flex;
    /* flex-direction: column; */
    /* width: 20em; */
    /* border: 1px solid gray; */
    height: 10em;

    align-items: center;
    justify-content: center;
}

.item-count {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.item-count button {
    margin: 1em 2em ;
    height: 2em;
    width: 2em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid;
}

.item-count p {
    margin: 1em 0;
    line-height: 2em;
    font-size: 1em;
    font-weight: bold;
}
#btnAddCart {
    margin-top: 1em;
    width: fit-content;
    height: 2.5em;
    padding: 0 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px; 
    border: 1px solid;
}
